<footer class="footer bg-light py-3 mt-auto">
    <div class="containter text-center">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span class="text-muted">&copy; Foxwood Family 2022</span>
            </div>
            <div class="col-md-4">
                 <a href="#" target="_blank"><img src="/images/twitterIcon.svg" alt="foxwood twitter"></a>
                <a href="#" target="_blank"><img src="/images/instaIcon.svg" alt="foxwood instagram"></a>
                <a href="#" target="_blank"><img src="/images/facebookIcon.svg" alt="foxwood facebook"></a>
            </div>
        </div>
    </div>

</footer>

<!-- todo: style the text and hookup hrefs for social links... -->