<nav class="navbar navbar-expand-lg sticky-top  bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="/images/fox.svg" alt="foxwood family logo" class="d-inline-block, align-text-bottom">
            <img src="/images/Foxwood Family.svg" alt="foxwood family logo" class="d-inline-block align-text-bottom">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="/home">
                        <img class="btn btn-outline"  src="/images/homeIcon.svg" id="homeIcon" alt="home">
                        <label for="homeIcon">Home</label>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" aria-current="page" href="/travels">
                        <img class="btn btn-outline" src="/images/travelsIcon.svg" id="travelsIcon" alt="travels">
                        <label for="travelsIcon">Travels</label>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" aria-current="page" href="/donate">
                        <img class="btn btn-outline" src="/images/donateIcon.svg" id="donateIcon" alt="donate">
                        <label for="donateIcon">Donate</label>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" aria-current="page" href="/contact">
                        <img class="btn btn-outline"  src="/images/contactIcon.svg" id="contactIcon" alt="contact">
                        <label for="contactIcon">Contact</label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- todo: apply the "orange" colour icon to the active page -->