<div id="travelRowCards" class="row">
    <div class="col-lg-3">
        <div class="card">
            <img src="/images/nightlights.jpg" class="card-img-top" alt="experimental image">
            <div class="card-body">
                <a href="#" role="button "class="btn btn-primary"><h3 class="card-title">Snohomish, WA, USA</h3><h4>May, 2022</h4></a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <img src="/images/nightlights.jpg" class="card-img-top" alt="experimental image">
            <div class="card-body">
                <a href="#" role="button "class="btn btn-primary"><h3 class="card-title">Snohomish, WA, USA</h3><h4>May, 2022</h4></a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <img src="/images/nightlights.jpg" class="card-img-top" alt="experimental image">
            <div class="card-body">
                <a href="#" role="button "class="btn btn-primary"><h3 class="card-title">Snohomish, WA, USA</h3><h4>May, 2022</h4></a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <img src="/images/nightlights.jpg" class="card-img-top" alt="experimental image">
            <div class="card-body">
                <a href="#" role="button "class="btn btn-primary"><h3 class="card-title">Snohomish, WA, USA</h3><h4>May, 2022</h4></a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>
    </div>
</div>


<!-- to do: set breakpoint for the travelRowCards partial, 4 at full screen, then 2 at medium and small...
and add some margin and padding between, etc -->