<% layout('layouts/boilerplate')%>
    <div class="container text-center">
        <div id="travelpageHead" class="row mb-3">
            <div class="col-md-6 offset-md-3 mb-3 py-3">
                <h1>Travel Locations</h1>
            </div>
            <div class="col-md-3 mb-3 py-3 align-items-center">
                <a href="#" target="_blank"><button class="btn btn-sm btn-primary">map view</button></a>
            </div>
        </div>
        <%- include('../partials/travelRowCards') %> 
        <%- include('../partials/travelRowCards') %> 
        <%- include('../partials/travelRowCards') %> 
        <%- include('../partials/travelRowCards') %> 
    </div>

